<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuji.firstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shuji.firstapp.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shuji.firstapp.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="MainActivity" >
            <intent-filter>
                <action android:name="com.shuji.firstapp.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shuji.firstapp.Menu"
            android:label="Menu" >
            <intent-filter>
                <action android:name="com.shuji.firstapp.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shuji.firstapp.TextPlay"
            android:label="TextPlay" >
        </activity>
        <activity
            android:name="com.shuji.firstapp.Email"
            android:label="Send Email" >
        </activity>
        <activity
            android:name="com.shuji.firstapp.Camera"
            android:label="Camera Application"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shuji.firstapp.Data"
            android:label="Data" >
        </activity>
        <activity
            android:name="com.shuji.firstapp.OpenedClass"
            android:label="OpenedClass" >
        </activity>
        <activity
            android:name="com.shuji.firstapp.Magic8Ball"
            android:label="@string/app_name" >
        </activity>

        <!-- set up activities in the menu right up conner -->
        <activity
            android:name="com.shuji.firstapp.AboutUs"
            android:label="About Us"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.shuji.firstapp.ABOUTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shuji.firstapp.Prefs"
            android:label="Preference"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.shuji.firstapp.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>